# NPM
node_modules# Node.js
/node_modules
/dist

# Logs
logs
*.log
npm-debug.log*

# Angular
/frontend/angular-app/node_modules
/frontend/angular-app/dist
/frontend/angular-app/.angular

# Misc
.DS_Store